html, body {
    height: 100%;
    margin: 0;
    font-size: 10px;
  }

#wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100%;
    background: repeating-linear-gradient(90deg, #333, #06408b, #b658e2)
}

#header {

    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4em;
    top: 0;
    font-family: 'Delius', cursive;
    font-size: 20pt;
}

.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;

}

.first-modal-content {
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius : 4px;
    text-align: center;
    padding: 20px;
    position: absolute;
    font-size: 16px;
}

.first-modal-content p {
    margin-top: 30px;
    margin-bottom: 30px;
    text-decoration: underline;
}

.modal-content {
    width: 500px;
    height: 400px;
    background-color: white;
    border-radius : 4px;
    text-align: center;
    padding: 20px;
    position: absolute;
    font-size: 16px;
}

.horizContain label {
    display: inline-block;
}

.horizContain input {
    display: inline-block;
    width: 50px;
}

#pagelength {
    width: 10%;
}

.button {
	background-color: #1686d9;
	border: 2px solid white;
	border-radius: 30px;
	text-decoration: none;
	padding: 10px 28px;
	color: white;
	margin-top: 10px;
	display: inline-block;
	
}

.button:hover {
    background-color: white;
    color: #1686d9;
    border: 2px solid #1686d9;
}

#newAddBook {
    font-size: 14px;
}

input {
    width: 50%;
    display: block;
    margin: 15px auto;
}

.close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}

.outer {
	background-size: cover;
	height: 120px;
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: column;
    font-size: 20px;
    margin-top: 25px;
}

#stockBook {
    width:175px;
    height:100px;
}

input[type="checkbox"] {
    vertical-align:middle;
}

input[type="color"]{
    width: 20%;
}

#verticalContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

#libraryHeader {
    display: flex;
    
}

#introText {
    text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: column;
    font-family: 'Noto Serif', serif;
    width: 700px;
    height: 400px;
    font-size: 30px;
    padding: 15px;
    font-weight: 700;
    line-height: 2em;
    background-color: rgba(242, 145, 34, .9);
    border-radius: 2em;
    border-width: 1px;
    /*transition: opacity 2.5s ease-in-out;*/
    -webkit-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

/* dont want hover here... */
.introText2 {
    opacity: 0;
    /*display: none;*/

}

#futureButton {
    display: flex;
    justify-content: center;
    flex: 0 0 50px;
    margin: 1em;
}

#outerLibrary {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#outerLibrary div {
    flex: 0 0 auto;
    padding: 1em;
    margin: 1em;
}

.hideVertContainer {
    display: none !important;
}

.card{
    width: 28rem;
    font-family: "Open Sans", sans-serif;
    background-color: #f4f4f4;
    box-shadow: 5px 5px 1rem rgba(0,0,0,.1);
    -webkit-transition: opacity 2s ease-in-out;
    transition: opacity 2s ease-in-out;
}

.card2 {
    opacity: 0;
}

.image-container{
    height: 18rem;
}

.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-container{
    padding: 2rem;
}

.heading{
    font-size: 3rem;
    font-family: 'Playfair Display', sans-serif;
    margin-bottom: 1rem;
    text-decoration: underline;
}

.paragraph{
    font-size: 1.6rem;
}

#btn{
    display: inline-block;
    font-size: 1.2rem;
    color: #333;
    background-color: #fff;
    text-decoration: none;
    padding: 1rem 2rem;
    margin-right: 5px;
    margin-top: 2.5rem;
    border-radius: 2rem;
    box-shadow: 1px 2px 1rem rgba(0,0,0,.1);
    transition: background-color .5s;
}

#btn:hover{
    background-color: lightgrey;
}

.delBtn{
    display: inline-block;
    font-size: 1.2rem;
    color: black;
    background-color: #fff;
    text-decoration: none;
    padding: 1rem 2rem;
    margin-top: 2.5rem;
    border-radius: 2rem;
    box-shadow: 1px 2px 1rem rgba(0,0,0,.1);
    transition: background-color .5s;
}

.delBtn:hover{
    background-color: rgb(187, 14, 14);
}
